*, *:before, *:after {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix:before {
    display: table;
}



html {
    padding: 0;
    margin: 0;
    ‑webkit‑text‑size‑adjust: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #313233;
    color: #dedfe0;
}

main {
    width: 100%;
    padding: 20px 30px;
}



/* Loading */
.controller #loading {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #313233;
}
.controller #loading:before {
    content: 'Loading ...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Screen List */
.screen-list {
    margin-top: 50px;
}

.screen-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.screen-list ul li a {
    display: inline-block;
    min-width: 60vw;
    margin-bottom: 20px;
    padding: 20px;
    background: lightgrey;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    color: black;
}


/* Games List */
.games {
    margin-top: 50px;
}

.games ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.games ul li {
    margin-bottom: 20px;
}
.games ul li .game {
    display: block;
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
    color: #000;
    text-decoration: none;
    background-color: #dedfe0;
}

.games .game--icon {
    margin: -10px -10px 20px -10px;
    height: 0;
    padding-top: 35%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.games .game--icon img {
    display: none;
}


/*
 * Game
 */
div#game {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
div#game iframe {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}


/* Login */

input[type="text"] {
    width: 100%;
    padding: 4px;
    border: 1px solid #dedfe0;
    font-size: 1em;
    margin: 5px 0;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    width: 100%;
    background-color: #dedfe0;
    font-size: 1em;
    padding: 10px;
    margin: 5px 0;
    outline: none;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}



