* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    font-family: sans-serif;
}
body {
    background-color: #454647;
    margin: 0;
    padding: 0;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix:before {
    display: table;
}

main {
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    min-width: 980px;
    min-height: 520px;
}
main .content {
    position: absolute;
    top: 0;
    right: 300px;
    left: 0;
    bottom: 0;
    background: #313233;
    color: #dedfe0;
}
main .content .text {
    padding: 50px 50px;
}

.games ul {
    list-style: none;
    padding: 0;
    margin: -12px;
}
.games ul li {
    float: left;
    margin: 12px;
}
.games ul li .game {
    display: block;
    position: relative;
    width: 200px;
    height: 323px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background-color: #dedfe0;
}
.paper-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.games ul li .game:hover  .paper-shadow-top-z-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.games ul li .game:hover .paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
.games ul li .game .paper-shadow-top-z-5, .games ul li .game .paper-shadow-top-z-5 {
    box-shadow: none;
}

.games .game--icon {
    margin: -10px -10px 20px -10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #000;
}
.games .game--icon img {
    display: block;
    width: 100%;
}


.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #dedfe0;
}
.connected-users {
    flex: 1;
    padding: 10px;
}
.connected-users ul {
    list-style: none;
    padding: 0;
}
.qrcode {
    width: 300px;
    height: 300px;
    padding: 22px;
    background: white;
}

.controller-link,
.spectator-link {
    width: 300px;
    height: auto;
    padding: 0 10px 10px 10px;
    background: white;
    word-wrap: break-word;
    text-align: center;
}
.controller-link a,
.spectator-link a {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}

/*
 * Game
 */
#game {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
}
#game iframe {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}
