*, *:before, *:after {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix:before {
    display: table;
}



html {
    padding: 0;
    margin: 0;
    ‑webkit‑text‑size‑adjust: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #454647;
    margin: 0;
    padding: 0;
}


main {
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
}
main .content {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 100px;
    min-height: calc(100vh - 200px);
    background: #313233;
    color: #dedfe0;
}
main .content .text {
    padding: 50px 50px;
}

.games ul {
    list-style: none;
    padding: 0;
    margin: -12px;
}
.games ul li {
    float: left;
    margin: 12px;
}
.games ul li .game {
    display: block;
    position: relative;
    width: 200px;
    height: 323px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background-color: #dedfe0;
}

.games .game--icon {
    margin: -10px -10px 20px -10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #000;
}
.games .game--icon img {
    display: block;
    width: 100%;
}


/*
 * sidebar
 */
.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #dedfe0;
}
.connected-users {
    flex: 1;
    padding: 10px;
}
.connected-users ul {
    list-style: none;
    padding: 0;
}
.qrcode {
    width: 300px;
    height: 300px;
    padding: 22px;
    background: white;
}

.controller-link,
.spectator-link {
    width: 300px;
    height: auto;
    padding: 0 10px 10px 10px;
    background: white;
    word-wrap: break-word;
    text-align: center;
}
.controller-link a,
.spectator-link a {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}



/* Loading */
.controller #loading {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #313233;
}
.controller #loading:before {
    content: 'Loading ...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Screen List */
.screen-list {
    margin-top: 50px;
}

.screen-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.screen-list ul li a {
    display: inline-block;
    min-width: 60vw;
    margin-bottom: 20px;
    padding: 20px;
    background: lightgrey;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    color: black;
}


/*
 * Game
 */
div#game {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
div#game iframe {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}