<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ config.views.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="{{ config.views.baseUrl }}css/controller.css">

        <script>
            JSCONST = {{ config.views|json_encode()|raw }};
        </script>
    </head>

    <body class="controller" data-screenid="{{ gamecenterScreenId }}">

        <main>
            <h1>Game Center</h1>

            <div class="login" style="display: none;">
                <div class="loginWrapper">
                    <h2>Enter Username</h2>
                    <form class="login">
                        <input name="username" type="text" placeholder="Username" required />
                        <br>
                        <button class="btn" type="submit">Login</button>
                    </form>
                </div>
                <div class="guestWrapper">
                    <h2>Or Play As Guest</h2>
                    <form class="guest">
                        <button class="btn" type="submit">Play</button>
                    </form>
                </div>
            </div>


            <div class="games" style="display: none;">
                <ul class="clearfix">
                {% for game in games %}
                    <li class="start-game"
                        data-game="{{ game.name }}"
                        data-game-url="{{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.controller }}">
                        <a href=""
                           class="game start-game">
                            <div class="game--icon" style="background-image: url({{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.icon }});">
                                <img src="{{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.icon }}" alt="">
                            </div>
                            {{ game.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </main>


        <div id="loading"></div>

        <div id="game"></div>

        <script src="{{ config.views.baseUrl }}js/controller.bundle.js"></script>

    </body>
</html>