<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ config.views.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ config.views.baseUrl }}css/controller.css">
</head>

<body class="controller">
    <main>
        <div class="content">
            <div class="text">
                <h1>Available Screens</h1>
                <div class="screen-list">
                    <ul class="clearfix">
                        {% for screenId in availableScreens %}
                        <li>
                            <a href="//{{ config.server.addr }}{% if config.server.publicPort %}:{{ config.server.publicPort }}{% endif %}/{{ type }}/{{ screenId }}" class="game start-game">
                                {{ screenId }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>