<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ config.views.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="{{ config.views.baseUrl }}css/screen.css">

        <script>
            JSCONST = {{ config.views|json_encode()|raw }};
        </script>
    </head>

    <body class="screen">
        <main>
            <div class="content">
                <div class="text">
                    <h1>Game Center</h1>
                    <div class="games">
                        <ul class="clearfix">
                        {% for game in games %}
                            <li>
                                <a href=""
                                   class="game start-game"
                                   data-game="{{ game.name }}"
                                   data-game-url="{{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.screen }}">
                                    <div class="game--icon">
                                        <img src="{{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.icon }}" alt="">
                                    </div>
                                    {{ game.name }}
                                    <div class="paper-shadow paper-shadow-top-z-5"></div>
                                    <div class="paper-shadow paper-shadow-bottom-z-5"></div>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <aside class="sidebar">
                <div class="connected-users">
                    <h3>Connected Users</h3>
                    <ul></ul>
                </div>
                <div class="qrcode"></div>
                <div class="controller-link" data-url="{{ config.server.addr }}{% if config.server.publicPort %}:{{ config.server.publicPort }}{% endif %}/"></div>
                <div class="spectator-link" data-url="{{ config.server.addr }}{% if config.server.publicPort %}:{{ config.server.publicPort }}{% endif %}/"></div>
            </aside>
        </main>

        <div id="game" style="display: none;"></div>

        <script src="{{ config.views.baseUrl }}js/screen.bundle.js"></script>
    </body>
</html>