<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ config.views.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="{{ config.views.baseUrl }}css/spectator.css">

        <script>
            JSCONST = {{ config.views|json_encode()|raw }};
        </script>
    </head>

    <body class="controller" data-screenid="{{ gamecenterScreenId }}">
        <main>
            <div class="content">
                <div class="text">
                    <h1>Game Center</h1>
                    <div class="games" style="display: none;">
                        <ul class="clearfix">
                            {% for game in games if game.spectator %}
                            <li class="start-game"
                                data-game="{{ game.name }}"
                                data-game-url="{{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.spectator }}">
                                <a href=""
                                   class="game start-game">
                                    <div class="game--icon" style="background-image: url({{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.icon }});">
                                        <img src="{{ config.views.baseUrl }}storage/games/{{ game.directory }}/{{ game.icon }}" alt="">
                                    </div>
                                    {{ game.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <aside class="sidebar">
                <div class="connected-users">
                    <h3>Connected Users</h3>
                    <ul></ul>
                </div>
                <div class="qrcode"></div>
                <div class="controller-link" data-url="{{ config.server.addr }}{% if config.server.publicPort %}:{{ config.server.publicPort }}{% endif %}/"></div>
            </aside>
        </main>


        <div id="loading"></div>

        <div id="game"></div>

        <script src="{{ config.views.baseUrl }}js/spectator.bundle.js"></script>

    </body>
</html>